#block-fire-local-tasks {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 10px 10px;
  background-color: $black;

  .is-logged-in & {
    z-index: $zindex-fixed;
    position: fixed;
    bottom: 25px;
    left: 25px;
    padding-left: 35px;
    background-color: $black;
    border-radius: 25px;
  }

  ul {
    @include reset-list;
    display: flex;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }

    li {
      padding: 0 8px;
      font-size: 13px;

      a {
        font-weight: bold;
        color: $white;

        .is-logged-in & {
          color: $white;
        }
      }
    }
  }
}
