#block-fire-local-tasks {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  background-color: $gray-900;

  ul {
    @include reset-list;
    max-width: 60%;
    display: flex;

    li {
      padding: 0 12px;

      a {
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
