body.toolbar-fixed {
  #toolbar-administration {
    position: relative;
    z-index: $z-index-admin-header;
  }
}

#panels-ipe-tray {
  z-index: $z-index-admin-header + 1;

  .panels-ipe-tabs-open & {
    top: 40px;
  }
}

.ipe-tab-content.active {
  height: 100vh;
  overflow: scroll;
}

div.ipe-actions-block.ipe-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;

  .ipe-action-list {
    display: flex;
    align-items: center;

    li,
    a,
    span {
      display: flex;
      align-items: center;
      height: 30px;
      margin: 0;
    }

    li {
      margin-left: 10px;
    }
  }
}

.ipe-tabs {
  li {
    box-shadow: none !important;
  }

  .ipe-tab {
    &.active {
      a {
        color: $color-primary;
        border: none;
        border-bottom: 3px solid $color-primary;
      }
    }

    &:hover {
      a {
        color: $color-primary;
        border: none;
        border-bottom: 3px solid $color-primary;
      }
    }
  }
}

.ipe-category-picker-top {
  padding-top: 20px;
  padding-bottom: 50px;

  > h4 {
    margin-bottom: 20px;
  }

  .form-wrapper {
    padding-bottom: 20px;
    margin-bottom: 20px;

    input[type='text'] {
      width: 100%;
      height: 35px;
      padding: 6px 8px;
    }
  }

  .vertical-tabs {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;

    &__menu {
      border: 0;

      &-item {
        border: 1px solid $color-gray-border !important;
      }
    }

    &__panes {
      margin-top: 20px;
    }
  }
}
