/* .user-login-form {
  @include make-col-ready;
  @include make-col(4);
  display: flex;
  flex-direction: column;
  margin: 50px auto;

  @include media-breakpoint-down(lg) {
    @include make-col(6);
  }

  @include media-breakpoint-down(md) {
    @include make-col(7);
  }

  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }

  .form-item {
    .description {
      margin-top: spacer(1);
      font-size: 14px;
      color: theme-color('gray-600');
      font-style: italic;
    }
  }
} */
