body.toolbar-fixed {
  #toolbar-administration {
    @apply relative z-10000;
  }
}

#panels-ipe-tray {
  @apply z-10001;

  .panels-ipe-tabs-open & {
    top: 40px;
  }
}

.ipe-tab-content.active {
  @apply h-screen;
  @apply overflow-scroll;
}

div.ipe-actions-block.ipe-actions {
  @apply flex justify-between items-center py-2 px-8;

  .ipe-action-list {
    @apply flex items-center;

    li,
    a,
    span {
      @apply flex items-center m-0 h-8;
    }

    li {
      @apply ml-3;
    }
  }
}

.ipe-tabs {
  li {
    box-shadow: none !important;
  }

  .ipe-tab {
    &.active,
    &:hover {
      a {
        @apply text-primary-500;
        @apply border-none;
        border-bottom: 3px solid theme(colors.primary.500);
      }
    }
  }
}

.ipe-category-picker-top {
  padding-top: 20px;
  padding-bottom: 50px;

  > h4 {
    margin-bottom: 20px;
  }

  .form-wrapper {
    padding-bottom: 20px;
    margin-bottom: 20px;

    input[type='text'] {
      width: 100%;
      height: 35px;
      padding: 6px 8px;
    }
  }

  .vertical-tabs {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;

    &__menu {
      border: 0;

      &-item {
        border: 1px solid theme(colors.grays.500) !important;
      }
    }

    &__panes {
      margin-top: 20px;
    }
  }
}

.is-logged-in {
  #drupal-live-announce {
    @apply hidden;
  }
}
