// `~` is a webpack alias for `node_modules/`
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';

// custom setup and helper classes
@import './assets/styles/base/variables';
@import './assets/styles/base/functions';
@import './assets/styles/base/mixins';

// dependencies
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';

// base
@import './assets/styles/base/fonts';
@import './assets/styles/base/scaffolding';
@import './assets/styles/base/typography';

// helpers
@import './assets/styles/helpers/index';

// global components
@import './assets/styles/components/buttons';
@import './assets/styles/components/ajax-progress';

// admin
@import './assets/styles/admin/misc';
@import './assets/styles/admin/local-tasks';
@import './assets/styles/admin/login-form';
@import './assets/styles/admin/wysiwyg';

// components
@import './templates/components/site-header/site-header';
@import './templates/components/site-footer/site-footer';
@import './templates/components/main-nav/main-nav';
@import './templates/components/status-messages/status-messages';
@import './templates/components/gap/gap';
@import './templates/components/pagination/pagination';
