// custom setup and helper classes
@import './assets/styles/base/variables';
@import './assets/styles/base/mixins';
@import './assets/styles/base/functions';

//dependencies
// `~` is a webpack alias for `node_modules/`
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities/display';

// helpers
@import './assets/styles/base/helpers';

// base
@import './assets/styles/base/fonts';
@import './assets/styles/base/scaffolding';

// common
@import './assets/styles/common/typography';
@import './assets/styles/common/buttons';

// includes
@import './templates/include/site-header/site-header';
@import './templates/include/site-footer/site-footer';

// navigation
@import './templates/navigation/main-nav/main-nav';

// admin
@import './assets/styles/admin/misc';
@import './assets/styles/admin/local-tasks';
@import './assets/styles/admin/login-form';
@import './assets/styles/admin/wysiwyg';

// misc
@import './templates/misc/status-messages/status-messages';

// components
@import './templates/components/gap/gap';
@import './templates/components/media/media';
@import './templates/components/pager/pager';
