/* dependencies */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* base */
@import './assets/styles/base/fonts';
@import './assets/styles/base/scaffolding';
@import './assets/styles/base/typography';

/* global components */
@import './assets/styles/components/ajax-progress';
@import './assets/styles/components/buttons';
@import './assets/styles/components/forms';
@import './assets/styles/components/links';

/* admin */
@import './assets/styles/admin/local-tasks';
@import './assets/styles/admin/user';
@import './assets/styles/admin/misc';
@import './assets/styles/admin/wizzy';

/* template components */
@import './templates/components/site-header/site-header';
@import './templates/components/site-footer/site-footer';
@import './templates/components/main-nav/main-nav';
@import './templates/components/status-messages/status-messages';
@import './templates/components/pagination/pagination';

@import 'tailwindcss/utilities';
