// custom setup and helper classes
@import './assets/styles/base/variables';
@import './assets/styles/base/mixins';
@import './assets/styles/base/functions';

//dependencies
// `~` is a webpack alias for `node_modules/`
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities/display';

// base
@import './assets/styles/base/fonts';
@import './assets/styles/base/scaffolding';
@import './assets/styles/base/typography';

// global components
@import './assets/styles/components/buttons';

// admin
@import './assets/styles/admin/misc';
@import './assets/styles/admin/local-tasks';
@import './assets/styles/admin/login-form';
@import './assets/styles/admin/wysiwyg';

// components
@import './templates/components/site-header/site-header';
@import './templates/components/site-footer/site-footer';
@import './templates/components/main-nav/main-nav';
@import './templates/components/status-messages/status-messages';
@import './templates/components/gap/gap';
@import './templates/components/media/media';
@import './templates/components/pager/pager';
