<footer class="bg-primary text-white py-3 text-center" role="contentinfo">
  <div class="container">
    site footer
    <time class="date" datetime="{{ "now"|date() }}">{{ "now"|date("Y") }}</time>
  </div>
</footer>
