body {
  @include reset-last-paragraph;
  &.fire-page {
    opacity: 0;
  }

  &.has-loaded {
    opacity: 1;
  }
}

// added to markup by Drupal,
// top-level most element after body
.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

// Removes Chrome autofill yellow
@-webkit-keyframes autofill {
  to {
    color: $body-color;
    background-color: theme-color('white');
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

pre {
  background-color: theme-color('gray-300');
}
