{% extends "paragraph.html.twig" %}

{%
  set classes = [
    'vue-cli-paragraph',
  ]
%}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				vue-cli-paragraph
			</div>
		</div>
	</div>
{% endblock %}
