@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-last-paragraph {
  p:last-child {
    margin-bottom: 0;
  }
}

@mixin reset-last-list-item {
  li:last-child {
    margin-bottom: 0;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: 0;
}

@mixin center-cover-background() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin style-background-image() {
  @include center-cover-background;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin center-flex() {
  align-items: center;
  justify-content: center;
}

@mixin maintain-ratio($divisor: 1.43, $dividend: 1) {
  width: 100%;
  padding-bottom: $dividend / $divisor * 100%;
}
