body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  opacity: 0;

  &.has-loaded {
    opacity: 1;
  }
}

// added to markup by Drupal,
// top-level most element after body
.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

strong {
  font-weight: bold;
}

button {
  &:hover {
    cursor: pointer;
  }
}

// Removes Chrome autofill yellow
@-webkit-keyframes autofill {
  to {
    color: $color-font;
    background-color: #fff;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

pre {
  background-color: #eee;
}
