html,
body {
  @include reset-last-paragraph;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
  color: $color-font;
}

a {
  color: $color-primary;

  &:hover {
    color: darken($color-primary, 20%);
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba($color-font, 0.9);
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba($color-font, 0.9);
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba($color-font, 0.9);
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: rgba($color-font, 0.9);
  }
}
