html,
body {
  @include reset-last-paragraph;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

strong {
  font-weight: $font-weight-bold;
}

input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba($body-color, 0.9);
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba($body-color, 0.9);
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba($body-color, 0.9);
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: rgba($body-color, 0.9);
  }
}
