// colors
$color-primary: #695b8e;
$color-secondary: #ba95e8;
$color-accent: #37b57b;

$color-gray: #171717;
$color-gray-light: #9b9b9b;
$color-gray-lighter: #f9f8f8;

$color-gray-border: #9b9b9b;

$color-warning: #d6b841;
$color-error: #9b2020;

$color-font: $color-gray;

// fonts
$font-family: 'Open Sans', sans-serif;

// z-indexes
$z-index-admin-header: 10001;
$z-index-status-messages: 10;

// misc
$vh: calc(var(--vh, 1vh) * 100);

// Bootstrap variable overrides

// grid
$grid-columns: 12;
$grid-gutter-width: 30px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Pagination
$pagination-padding-y: 0.5rem;
$pagination-padding-x: 0.75rem;
$pagination-padding-y-sm: 0.25rem;
$pagination-padding-x-sm: 0.5rem;
$pagination-padding-y-lg: 0.75rem;
$pagination-padding-x-lg: 1.5rem;
$pagination-line-height: 1.25;

$pagination-color: $color-primary;
$pagination-bg: #fff;
$pagination-border-width: 1px;
$pagination-border-color: $color-gray-border;

$pagination-focus-outline: 0;

$pagination-hover-color: $pagination-color;
$pagination-hover-bg: $pagination-bg;
$pagination-hover-border-color: $pagination-color;

$pagination-active-color: $pagination-bg;
$pagination-active-bg: $pagination-color;
$pagination-active-border-color: $pagination-color;
