html,
body {
  @apply font-body text-gray-900 text-base leading-normal font-normal antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-body;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

.heading-1 {
  @apply text-4xl;
}

.heading-2 {
  @apply text-3xl;
}

.heading-3 {
  @apply text-2xl;
}

.heading-4 {
  @apply text-xl;
}

.heading-5 {
  @apply text-lg;
}

.heading-6 {
  @apply text-base;
}
