.font-family-headings {
  font-family: $headings-font-family !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-transform-uppercase {
  text-transform: uppercase !important;
}
