/*! purgecss start ignore */
.ajax-progress.ajax-progress-fullscreen {
  @apply fixed top-0 left-0;
  @apply w-full h-full flex items-center justify-center;
  z-index: 999;

  &::before {
    content: '';
    @apply absolute top-0 left-0 right-0 bottom-0;
    @apply bg-primary-500 opacity-75;
  }

  &::after {
    content: '';
    @apply relative z-10;
    @apply w-24 h-24;
    @apply bg-no-repeat bg-center bg-contain;
    background-image: url(/themes/fire/assets/media/svgs/spinner.svg);
  }
}
/*! purgecss end ignore */
