/* .ajax-progress.ajax-progress-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(theme-color('secondary'), 0.7);

  &::after {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url(/themes/fire/assets/media/svgs/spinner.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
} */
