button {
  @apply cursor-pointer;
}

.button {
  @apply px-4 py-2;
  @apply rounded;
  @apply text-sm font-bold text-white no-underline;
  @apply transition-all duration-200 cursor-pointer;

  &:focus {
    outline: none;
  }

  &--primary {
    @apply bg-primary;

    &:hover,
    &:active {
      background: var(--color-primary-dark);
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px var(--color-primary-light);
    }
  }

  &--secondary {
    @apply bg-secondary;

    &:hover,
    &:active {
      background: var(--color-secondary-dark);
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px var(--color-secondary-light);
    }
  }

  &--accent {
    @apply bg-accent;

    &:hover,
    &:active {
      background: var(--color-accent-dark);
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px var(--color-accent-dark);
    }
  }
}
