button {
  @apply cursor-pointer;
}

.button {
  @apply text-white font-bold py-2 px-4 rounded cursor-pointer text-sm;

  &--primary {
    @apply bg-primary;
  }

  &--secondary {
    @apply bg-secondary;
  }

  &--accent {
    @apply bg-accent;
  }
}
