.form-required {
  &::after {
    @apply text-red-400 ml-1;
    content: '*';
  }
}

/* Removes Chrome autofill yellow */
/* @-webkit-keyframes autofill {
  to {
    color: $body-color;
    background-color: theme-color('white');
  }
} */

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
