<footer class="py-3 text-center text-white bg-primary-500" role="contentinfo">
  <div class="container">
    site footer
    <time class="date" datetime="{{ "now"|date() }}">{{ "now"|date("Y") }}</time>
  </div>
</footer>
