/* global components */
@import './assets/styles/components/fonts';
@import './assets/styles/components/scaffolding';
@import './assets/styles/components/typography';
@import './assets/styles/components/ajax-progress';
@import './assets/styles/components/buttons';
@import './assets/styles/components/column-count';
@import './assets/styles/components/forms';
@import './assets/styles/components/grid';
@import './assets/styles/components/links';
@import './assets/styles/components/skip-to-main';
@import './assets/styles/components/videos';

/* admin */
@import './assets/styles/admin/local-tasks';
@import './assets/styles/admin/user';
@import './assets/styles/admin/misc';
@import './assets/styles/admin/wizzy';

/* template components */
@import './templates/components/site-header/site-header';
@import './templates/components/site-footer/site-footer';
@import './templates/components/main-nav/main-nav';
@import './templates/components/status-messages/status-messages';
@import './templates/components/pager/pager';
