{#
  Note: the Twig Tweak module can be used to include menus
  Example: {{ drupal_menu('main') }}
#}
<header class="bg-primary py-3 px-4" role="banner" data-fire-component="site-header">
  <a href="{{ path('<front>') }}" class="site-header__logo no-underline text-white text-lg flex items-center leading-none">
    <div class="w-5 mr-2">
      {% include directory ~ '/assets/media/svgs/fire.svg' %}
    </div>
    <span class="font-bold">Fire</span><span class="font-gray-100">Theme</span>
  </a>
</header>
