{#
	Note: the Twig Tweak module can be used to include menus
	Example: {{ drupal_menu('main') }}
#}

<header class="site-header" role="banner" data-fire-component="site-header">
	<a href="/" class="site-header__logo">Fire Theme</a>
</header>
