{#
  Note: the Twig Tweak module can be used to include menus
  Example: {{ drupal_menu('main') }}
#}
<header class="bg-primary py-3" role="banner" data-fire-component="site-header">
  <div class="container">
    <a href="{{ path('<front>') }}" class="site-header__logo no-underline text-white text-lg">
      <span class="font-light">Fire</span><span class="font-bold">Theme</span>
    </a>
  </div>
</header>
