.gap {
  display: block;
  position: relative;
  width: 100vw;

  &--tablet,
  &--mobile {
    display: none;
  }

  @include media-breakpoint-down(md) {
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @include media-breakpoint-down(sm) {
    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
