{% extends "paragraph.html.twig" %}

{%
  set classes = [
    'hero py-32 bg-secondary-500 text-white',
  ]
%}

{% set fire_component = 'hero' %}
{% set copy = content.field_copy.0 %}

{% block content %}
  <div class="wizzy">{{ copy }}</div>
{% endblock %}
